<form method="POST" action="" name='process_bet'>
        {% csrf_token %}
       <div class="control p-2">
  <label class="radio">
    <input type="radio" value="win" name="answer">
    Победа
    <br>
     <input type="radio" value="lose" name="lose">
    Поражение
  </label>
  
</div>

        </div>

        <div class="panel-block">
        <button type="submit" class="button is-success is-fullwidth" name='bet_finished'>
            Расчитать
        </button>
    </div>
        
    <div class="panel-block">
        <button type="submit" class="button is-dark is-fullwidth" name='prevent_bet'>
            Отменить ставку
        </button>
    </div>
    </form>

