<form method="POST" action="">
    {% csrf_token %}
    <div class="panel-block">

        <p class="control has-icons-left">
            <input class="input is-small" type="number" name="wait_time"
                value="60" placeholder="Время пока можно поставить">
            <span class="icon is-small is-left">
                <i class="far fa-clock"></i>
            </span>
        </p>

    </div>
    <div class="panel-block">
        <button type="submit" name="bet_takes" class="button is-link
            is-fullwidth">
            Ставки сделаны
        </button>
    </div>
</form>