{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        
        <script src="https://kit.fontawesome.com/834cba4574.js"
            crossorigin="anonymous"></script>
        <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"
            type="image/x-icon">
        <title>{% block title %} Stream-Bets.com {% endblock %}</title>

    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main
            navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'main_index_page' %}">
                    <h2 class="title is-size-4">STREAM-BETS.COM</h2>
                </a>

                <a role="button" class="navbar-burger" id="burger"
                    aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" id="nav-links">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Главная
                    </a>

                    <a class="navbar-item">
                        Все стримы онлайн
                    </a>

                    <div class="navbar-item has-dropdown
                        is-hoverable">
                        <a class="navbar-link">
                            Информация
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                About
                            </a>
                            <a class="navbar-item">
                                Jobs
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end id="nav-links"">
                    <div class="navbar-item">
                        {% if request.user.is_authenticated %}
                        <div class="columns is-mobile">
                            <div class="column">
                                <a class="button is-warning-light" href="#">
                                    <i class="fas fa-coins fas has-text-dark">
                                        <span
                                            class="is-size-6 has-text-dark">&nbsp;{{ user_profile_data.user_balance }}</span>
                                    </i>

                                </a>
                            </div>

                            <div class="column">
                                <a class="button is-success is-outlined"
                                    href="#">
                                    <i class="far fa-bell fa-lg"></i>

                                </a>

                            </div>


                            <div class="column">
                                <a class="button is-info is-outlined" href="{% url 'user_profile_page' %}">
                                    <i class="far fa-user-circle fa-lg"></i>
                                </a>


                            </div>
                            <div class="column">
                                <a class="button is-danger is-outlined" href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt"></i>

                                </a>
                            </div>


                        </div>
                        {% else %}
                        <a class="button is-link is-outlined ml-2 auth_btn">
                            
                            Войти
                        </a>

                        <a class="button is-link ml-2 has-text-weight-bold"
                            id="register_btn">
                            Регистрация
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        
        <section class="main-content columns is-gapless is-fullheight">
        <!-- По дебильному кол-во колонок указывать в детях-->
        <aside class="column is-2 is-fullheight section">

    <div class="card p-2" style="overflow: hidden;">
        <span class="ml-3">🔴 Онлайн стримы:</span>
        {% for stream in live_channel %}

        
        <a href="">
            <div class="card p-2" style="overflow: hidden;">

                <div class="media">
                    <div class="media-left">
                        <figure class="image is-56x56">
                            <img src="{% static 'img/stray228.png' %}"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content" style="overflow: hidden;">
                        <p class="title is-6" style="overflow: hidden;"><a href="{{ stream.get_absolute_url  }}">{{ stream.channel_url }}</a></p>
                        <p class="subtitle is-7" style="overflow: hidden;">Dota
                            2 <br />
                            {% if stream.channel_status == 'accept_bets' %}
                                <span class="has-text-success has-text-weight-bold">Идёт приём ставок</span></p>
                            {% endif %}
                    </div>
                </div>

            </div>
        </a>
        {% endfor %}


        







    </div>
    {% if request.user.is_authenticated %}
    <nav class="panel p-3">
        <p class="panel-heading">
            Ставки
        </p>

        <div class="panel-block">
            <h2 class="has-text-weight-bold">Ставки на игру: Dendi</h2>
        </div>

        <div class="panel-block">
            <label class="radio">
                <input type="radio" name="answer">
                Победа
            </label>
            <br /><br />
            <label class="radio ml-5">
                <input type="radio" name="answer">
                Поражение
            </label>


        </div>

        <div class="panel-block"><span>Ставка: </span> &nbsp;&nbsp;&nbsp;
            <div class="select is-link ml-5 is-normal">

                <select>
                    <option value="100" type="number" selected>100</option>
        <option value="200" type="number">200</option>
        <option value="300" type="number">300</option>
        <option value="400" type="number">400</option>
        <option value="500" type="number">500</option>
        <option value="600" type="number">600</option>
        <option value="700" type="number">700</option>
        <option value="800" type="number">800</option>
        <option value="900" type="number">900</option>
        <option value="1000" type="number">1000</option>

                </select>
            </div>
        </div>

        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                Сделать ставку
            </button>
        </div>


        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                Ставки сделаны
            </button>
        </div>




    </nav>
    {% else %}


    <nav class="panel ml-3">
        <p class="panel-heading">
            Ставки
        </p>
        <div class="panel-block">
            <h2 class="">Необходимо авторизоваться</h2>
        </div>
    </nav>
    {% endif %}

    <nav class="panel p-3">
        <p class="panel-heading has-text-centered">
            Статистика
        </p>



        <div class="panel-block">
            <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                        <td>Сделано ставок</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>На победу</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>На поражение</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>Призовой фонд</td>
                        <td><span> &nbsp; |&nbsp;27.250</span></td>
                    </tr>
                </tbody></table>
        </div>
    </nav>



</aside>
        {% block content %}
        {% endblock %}
           
        </div>

        {% if not request.user.is_authenticated %}
        {% include 'login-modal.html' %}
        {% include 'register-modal.html' %}
        {% else %}

        {% endif %}
    <script src="{% static 'js/scripts.js' %}"></script>   
    </body>
</html>
