{% extends 'base.html' %}

{% load static %}
{% block title %}
{{ channel_url }}
{% endblock title %}

{% block content %}

<div class="column is-8">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{
            message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <iframe
        name="stream"
        frameborder="0"
        src="https://player.twitch.tv/?channel={{channel_url}}&parent=http://127.0.0.1:8000/"
        allowfullscreen="true"
        scrolling="no"
        width="100%"
        height="700">
    </iframe>



</div>


<aside class="column is-2 is-fullheight">
{% if channel_data.is_admin %}
<nav class="panel pl-1">
    <p class="panel-heading">Управление ставками</p>
        {% if channel_data.not_started %}
            {% include 'bet/create_new_bet.html' %}
        {% endif %}

        {% if channel_data.is_bet_opened %}
        <h2 class="title is-size-6 has-text-left ml-5 mt-2">Открыт приём ставок</h2>
            <span class="is-size-7 has-text-centered ml-5">Начать событие не позднее:</span>
            <span class="tag" id="timer">{{ channel_data.open_until }}</span>
            {% include 'bet/opened_bet.html' %}
        {% endif %}

        {% if channel_data.bets_are_made %}
            <h2 class="title is-size-6 has-text-left ml-5 mt-2">Ставки сделаны</h2>
            <span class="is-size-7 has-text-centered ml-5">Приём закроется через:</span><span class="tag" id="timer">{{ channel_data.event_close_timer }}</span>
        {% endif %}


        {% if channel_data.in_process %}
            

            {% include 'bet/finish-event.html' %}
        {% endif %}

    
    <div class="box" >
        
</nav>
{% endif %}

    
    <ul class="menu-list">


        <li>

            <iframe frameborder="1" id="chat_embed"
                src="https://www.twitch.tv/embed/{{channel_url}}/chat?parent=stream-bets.com"
                height="700" width="100%">
            </iframe>


        </li>
    </ul>
</aside>

<script>
    let timeoutHandle

function count() {
  const startTime = timer.innerHTML
  const pieces = startTime.split(':')
  const time = new Date()
  time.setHours(pieces[0])
  time.setMinutes(pieces[1])
  time.setSeconds(pieces[2])
  const timedif = new Date(time.valueOf() - 1000)
  const newtime = timedif.toTimeString().split(' ')[0]
  const isDead = newtime.match(/\d/g).every(n => +n === 0)
  timer.innerHTML = newtime
  if (!isDead) {
    timeoutHandle = setTimeout(count, 1000)	
  } else {
    const img = document.createElement('img')
    img.src = 'https://i.postimg.cc/7Yc4LHND/wasted.jpg'
    timer.appendChild(img)
    clearTimeout(timeoutHandle)
  }
}
count()
</script>
{% endblock %}