{% extends 'base.html' %}

{% load static %}
{% block title %}
{{ channel_url }}
{% endblock title %}

{% block content %}

<div class="column is-8">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{
            message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    <iframe
        name="stream"
        frameborder="0"
        src="https://player.twitch.tv/?channel={{channel_url}}&parent=http://127.0.0.1:8000/"
        allowfullscreen="true"
        scrolling="no"
        width="100%"
        height="700">
    </iframe>



</div>


<aside class="column is-2 is-fullheight">
    {% if can_admin %}
</div>


<nav class="panel pl-1">
    <p class="panel-heading">
        Управление ставками
    </p>
    <div class="box" >
        <h2 class="has-text-centered is-size-5">Управление ставками</h2>
        <form method="POST" action="" >
            {% csrf_token %}
            <div class="panel-block">
                <span class="is-size-6"><i class="fas fa-coins fa-lg"></i>
                    &nbsp;&nbsp;Ставка : </span>
                <div class="select is-link ml-5 is-normal">
    
                    <select>
                        <option value="100" type="number" selected>100</option>
                        <option value="200" type="number"> 200</option>
                        <option value="300" type="number">300</option>
                        <option value="400" type="number">400</option>
                        <option value="500" type="number">500</option>
                        <option value="600" type="number">600</option>
                        <option value="700" type="number">700</option>
                        <option value="800" type="number">800</option>
                        <option value="900" type="number">900</option>
                        <option value="1000" type="number">1000</option>
    
                    </select>
                </div>
            </div>
    
            <div class="panel-block">
                <button type="submit" name="open_bet"  class="button is-info  is-fullwidth">
                    Принимаем ставки
                </button>
            </div>
        
        </form>

        <form method="POST" action="" >
            {% csrf_token %}
            <div class="panel-block">
                
                    <p class="control has-icons-left">
                        <input class="input is-normal" type="number" name="wait_time"  value="60" placeholder="Время пока можно поставить">
                      <span class="icon is-small is-left">
                        <i class="far fa-clock"></i>
                      </span>
                    </p>
                  
            </div>            
            <div class="panel-block">
                <button type="submit" name="bet_takes" class="button  is-link is-fullwidth">
                    Ставки сделаны
                </button>
            </div>
        </form>
</nav>

<!-- Показываем только если есть текущие ставки -->
<nav class="panel pl-1 has-text-centered">
    <p class="panel-heading">
        Расчитать исход
    </p>

    <form method="POST" action="" name='process_bet'>

       <div class="control p-2">
  <label class="radio">
    <input type="radio" value="win" name="answer">
    Победа
  </label>
  <label class="radio">
    <input type="radio" value="lose" name="answer">
    Поражение
  </label>
</div>
           
            


        </div>


        

        <div class="panel-block">
        <button type="submit" class="button is-success is-fullwidth" name='bet_finished'>
            Расчитать
        </button>
    </div>
        
    <div class="panel-block">
        <button type="submit" class="button is-dark is-fullwidth" name='prevent_bet'>
            Отменить ставку
        </button>
    </div>
    </form>

</nav>
    {% endif %}
    <ul class="menu-list">


        <li>

            <iframe frameborder="1" id="chat_embed"
                src="https://www.twitch.tv/embed/{{channel_url}}/chat?parent=stream-bets.com"
                height="700" width="100%">
            </iframe>


        </li>
    </ul>
</aside>
{% endblock %}