{% extends 'base.html' %}
{% load static %}
{% block title %}
Stream-bets.com - Главная
{% endblock title %}

{% block content %}
<aside class="column is-2 is-fullheight section">

    <div class="card p-2" style="overflow: hidden;">
        <span class="ml-3">🔴 Онлайн стримы:</span>

        <a href="">
            <div class="card p-2" style="overflow: hidden;">

                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{% static 'img/stray228.png' %}"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content" style="overflow: hidden;">
                        <p class="title is-6" style="overflow: hidden;">Stray228</p>
                        <p class="subtitle is-7" style="overflow: hidden;">Dota
                            2 <br />
                            <span class="has-text-success">Идёт приём ставок</span></p>
                    </div>
                </div>

            </div>
        </a>


        <a href="">
            <div class="card p-2" style="overflow: hidden;">

                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{% static 'img/stray228.png' %}"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content" style="overflow: hidden;">
                        <p class="title is-6" style="overflow: hidden;">Stray228</p>
                        <p class="subtitle is-7" style="overflow: hidden;">Dota
                            2 <br />
                            <span class="has-text-link"></span></p>

                    </div>
                </div>

            </div>
        </a>
        <a href="">
            <div class="card p-2" style="overflow: hidden;">

                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{% static 'img/stray228.png' %}"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content" style="overflow: hidden;">
                        <p class="title is-6" style="overflow: hidden;">Stray228</p>
                        <p class="subtitle is-7" style="overflow: hidden;">Dota
                            2 <br />
                            <span class="has-text-link"></span></p>

                    </div>
                </div>

            </div>
        </a>







    </div>
    {% if request.user.is_authenticated %}
    <nav class="panel p-3">
        <p class="panel-heading">
            Ставки
        </p>

        <div class="panel-block">
            <h2 class="has-text-weight-bold">Ставки на игру: Dendi</h2>
        </div>

        <div class="panel-block">
            <label class="radio">
                <input type="radio" name="answer">
                Победа
            </label>
            <br /><br />
            <label class="radio ml-5">
                <input type="radio" name="answer">
                Поражение
            </label>


        </div>

        <div class="panel-block"><span>Ставка: </span> &nbsp;&nbsp;&nbsp;
            <div class="select is-link ml-5 is-normal">

                <select>
                    <option value="100" type="number">100</option>
                    <option value="100" type="number">200</option>
                    <option value="100" type="number">300</option>
                    <option value="100" type="number">400</option>
                    <option value="100" type="number">500</option>
                    <option value="100" type="number">600</option>

                </select>
            </div>
        </div>

        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                Сделать ставку
            </button>
        </div>


        <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
                Ставки сделаны
            </button>
        </div>




    </nav>
    {% else %}


    <nav class="panel ml-3">
        <p class="panel-heading">
            Ставки
        </p>
        <div class="panel-block">
            <h2 class="">Необходимо авторизоваться</h2>
        </div>
    </nav>
    {% endif %}

    <nav class="panel p-3">
        <p class="panel-heading has-text-centered">
            Статистика
        </p>



        <div class="panel-block">
            <table cellpadding="0" cellspacing="0">
                <tbody><tr>
                        <td>Сделано ставок</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>На победу</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>На поражение</td>
                        <td> &nbsp; |&nbsp;123</td>
                    </tr>
                    <tr>
                        <td>Призовой фонд</td>
                        <td><span> &nbsp; |&nbsp;27.250</span></td>
                    </tr>
                </tbody></table>
        </div>
    </nav>



</aside>

<div class="column is-8">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    <iframe
        name="stream"
        frameborder="0"
        src="https://player.twitch.tv/?channel=daxak&parent=http://127.0.0.1:8000/"
        allowfullscreen="true"
        scrolling="no"
        width="100%"
        height="700">
    </iframe>



</div>


<aside class="column is-2 is-fullheight">


    <ul class="menu-list">


        <li>

            <iframe frameborder="1" id="chat_embed"
                src="https://www.twitch.tv/embed/daxak/chat?parent=stream-bets.com"
                height="700" width="100%">
            </iframe>


        </li>
    </ul>
</aside>
{% endblock content %}