{% extends 'base.html' %}
{% load static %}
{% block title %}
Stream-bets.com - Главная
{% endblock title %}

{% block content %}

<div class="column is-8">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    <iframe
        name="stream"
        frameborder="0"
        src="https://player.twitch.tv/?channel=daxak&parent=http://127.0.0.1:8000/"
        allowfullscreen="true"
        scrolling="no"
        width="100%"
        height="700">
    </iframe>



</div>


<aside class="column is-2 is-fullheight">


    <ul class="menu-list">


        <li>

            <iframe frameborder="1" id="chat_embed"
                src="https://www.twitch.tv/embed/daxak/chat?parent=stream-bets.com"
                height="700" width="100%">
            </iframe>


        </li>
    </ul>
</aside>
{% endblock content %}