{% extends 'base.html' %}
{% load static %}
{% block content %}




<div class="column is-4 ml-2">
    <h2 class="title is-size-4">Профиль</h2>
    <div class="card">

        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <form action="" method="POST" class="p-3 hide_element"
                        id="image_upload_form">
                        <div class="file is-small">
                            <label class="file-label">
                                <input class="file-input" type="file"
                                    name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Изменить...
                                    </span>
                                </span>
                            </label>
                        </div>

                    </form>
                    <figure class="image is-128x128">
                        <img src="{{ user_profile_data.avatar.url }}"
                            alt="Placeholder
                            image">


                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-5"> {{ user_profile_data.custom_username }}
                        <a title="Изменить ник" onclick=""
                            id="change_current_nick"
                            class="close_change_nick_form">
                            <i class="fa-edit fas"></i>
                        </a>
                        <a title="закрыть" onclick="" id="close_username"
                            class="hide_element">
                            <i class="fas fa-times"></i>
                        </a>
                    </p>
                    <p class="subtitle is-6">

                        <form action="" method="POST" class="hide_element"
                            id="change_username_form">
                            {% csrf_token %}
                            <div class="field has-addons">
                                <div class="control">
                                    {{ edit_username_form.custom_username }}
                                </div>
                                <div class="control">
                                    <button class="button is-link is-small"
                                        id="save_new_username">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </div>
                            </div>

                        </form>

                        {% if user_profile_data.is_streamer == True %}
                        <span class="tag is-info p-2 mt-2">Стример</span><span class="tag is-gray p-2 mt-2 ml-1" title="Подтверждено" style="cursor:pointer;">✔</span> </p>
                        <span class="tag is-info p-2 mt-2">{{ user_profile_data.user_channel_data.channel_status }}</span>
                        
                    
                    {% endif %}

                    {% if user.is_superuser == True %}
                        <span class="tag is-warning p-2 mt-2">Администратор</span></p>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr class="is-size-4 has-background-warning">
        <div class="content mt-5">

            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div class="ml-5">
                        <p class="heading">Ставок</p>
                        <p class="title is-5">{{ user_profile_data.total_bet }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered ml-6">
                    <div>
                        <p class="heading">Побед</p>
                        <p class="title is-5 has-text-success">{{ user_profile_data.total_win }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered ml-6">
                    <div>
                        <p class="heading">Поражений</p>
                        <p class="title is-5 has-text-danger">{{ user_profile_data.total_lose }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered ml-5">
                    <div>
                        <p class="heading">Заработано</p>
                        <p class="title is-5">{{ user_profile_data.total_earn }}</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

</div>
<div class="column is-2">3</div>
<div class="column is-4 mr-5">
4
</div>


<script> 
						 const change_btn = document.querySelector('#change_current_nick');
						 const change_nick_form = document.querySelector('#change_username_form');
						 const close_username_form = document.querySelector('.close_change_nick_form');
						 const close_field_btn = document.querySelector('#close_username');
						 const show_image_upload_form = document.querySelector('#image_upload_form');

						change_btn.addEventListener('click', () => {
   						change_nick_form.classList.remove('hide_element');
						   show_image_upload_form.classList.remove('hide_element');
						   
 						})

						 change_btn.addEventListener('click', () => {
							change_btn.classList.add('hide_element');
							
 						})

						 change_btn.addEventListener('click', () => {
							change_btn.classList.add('hide_element');
 						})

						 change_btn.addEventListener('click', () => {
							close_field_btn.classList.remove('hide_element');
 						})

						 close_field_btn.addEventListener('click', () => {
							change_nick_form.classList.add('hide_element');
							close_field_btn.classList.add('hide_element');
							change_btn.classList.remove('hide_element');
							show_image_upload_form.classList.add('hide_element');

 						})
                            </script>
                            
{% endblock%}